.TextButton {
    height: 40px;
    padding: 0px 16px;
    display: flex;
    justify-content: center;
    border-radius: 8px;
    background-color: #00000000;
}

.TextButton:hover {
    background-color: #1f1f1faa;
    cursor: pointer;
}

.TextButton_inner {
    font-size: 16px;
    line-height: 24px;
    align-self: center;
    height: 24px;
    background-position: center;
    background-size: cover;
}