.Modal_background {
    position: fixed;
    top: 0px;
    left: 100px;
    width: calc(100vw - 100px);
    height: 100vh;
    background-color: #00000033;
}

.Modal {
    position: fixed;
    top: 50vh;
    left: calc(50px + 50vw);
    border-radius: 20px;
    min-width: 700px;
    min-height: 500px;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
}

.Modal_header {

}

.Modal_title {
    font-weight: 700;
    font-size: 18px;
}



.Modal_inner {

}