.SearchBar {
    background-color: #EEEEFE;
    border-radius: 20px;
    width: 70%;
    height: 40px;
}

.SearchBar_inner {
    padding: 0px 10px;
    width: calc(100% - 20px);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 40px;
}

.SearchBar_field {
    height: 40px;
    line-height: 40px;
}