.NavBar {
    top: 0px;
    left: 0px;
    bottom: 0px;
    width: 100px;
    height: 100vh;
    background-color: #ffffff;
    position: fixed;
}

.NavBar_inner {
    height: calc(100% - 60px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px 0px;
}

.NavBar_box {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.NavBar_logo {
    background-color: #00000000;
    width: 40px;
    height: 40px;
    margin: 0px 30px;
    border-radius: 8px;
}

.NavBar_logo_inner {
    margin: 5px;
    width: 30px;
    height: 30px;
    border-radius: 8px;
    background-position: center;
    background-size: cover;
}

.NavBar_button {
    display: flex;
    justify-content: space-between;
    width: 70px;
    height: 40px;
    padding: 0px 0px 0px 30px;
}

.NavBar_button_background {
    background-color: #00000000;
    width: 24px;
    height: 24px;
    border-radius: 8px;
    padding: 8px;
}

.NavBar_button_background:hover, #MEALS> .NavBar_button_background:hover, #DISCOVER> .NavBar_button_background:hover, #DIET> .NavBar_button_background:hover, #SETTINGS> .NavBar_button_background:hover, #AVATAR> .NavBar_button_background:hover {
    background-color: #1f1f1faa;
    cursor: pointer;
}

.NavBar_active {
    content: ".";
    background-color: #000000;
    width: 4px;
    height: 40px;
}

.NavBar_button_icon {
    width: 24px;
    height: 24px;
    background-position: center;
    background-size: cover;
}

#LOGO > .NavBar_logo_inner {
    background-image: url("icons/logo.png");
}

#HOME > .NavBar_button_background {
    background-color: #212121;
}

#HOME > .NavBar_button_background > .NavBar_button_icon {
    background-image: url("icons/Home.svg");
}

#MEALS > .NavBar_button_background {
    background-color: #7C99DB;
}

#MEALS > .NavBar_button_background > .NavBar_button_icon {
    background-image: url("icons/Meals.svg");
}

#DISCOVER > .NavBar_button_background {
    background-color: #6D9EE6;
}

#DISCOVER > .NavBar_button_background > .NavBar_button_icon{
    background-image: url("icons/Diet.svg");
}

#DIET > .NavBar_button_background {
    background-color: #6464BB;
}

#DIET > .NavBar_button_background > .NavBar_button_icon {
    background-image: url("icons/Discover.svg");
}

#ABOUT > .NavBar_button_background > .NavBar_button_icon {
    background-image: url("icons/About.svg");
}

#SETTINGS > .NavBar_button_background > .NavBar_button_icon {
    background-image: url("icons/Settings.svg");
}

#AVATAR > .NavBar_button_background {
    background-color: #CCCCCC;
}

#AVATAR > .NavBar_button_background > .NavBar_button_icon {
    background-image: url("icons/avatar.png");
}