.Button {
    width: 40px;
    height: 40px;
}

.Button_background {
    width: 24px;
    height: 24px;
    border-radius: 8px;
    padding: 8px;
}

.Button_background:hover {
    background-color: #1f1f1faa;
    cursor: pointer;
}

.Button_icon {
    width: 24px;
    height: 24px;
    background-position: center;
    background-size: cover;
}