.ToolsBoard {
    right: 0px;
    bottom: 0px;
    position: fixed;
}

.ToolsBoard_inner {
    padding: 50px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    gap: 35px;
}

@media only screen and (max-width: 768px) {
    .ToolsBoard {
        right: 0px;
        bottom: 100px;
        position: fixed;
    }
    
    .ToolsBoard_inner {
        padding: 50px;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        gap: 35px;
    }
}